@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


header {
  width:100vw;
  height:80px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */

}

header ul {
  width:110vw;
  display: flex;
  justify-content: center;
}

header a {
  text-decoration: none;
  color: var(--foreground);
}


.m-s-u,.m-l-in {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  height: 100%;
  width:70%;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  border-radius: 7px;
  gap:7px
}
.form input,.input{
  color: #fff;
  outline-color: aqua;
  outline-width: 1px;
  padding: 5px;
  border-radius: 5px;
  background-color: #171717;
}
.dm, .dm1  {
  border:#ededed 2px solid;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #ededed;
  overflow: hidden  ;
}
 .dm img, .dm1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form label {
  color: #ededed;
}
.check {
  width:50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.dm1{
  border:#ededed 1px solid;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-color: #ededed;
  overflow: hidden;
}
.dm1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.log-in-links,.profile-links a {
  width:25%;
  height:40px;
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
}

.loading {  
  height: 100vh;
  width:100vw;
  background-color: rgba(200,200,200, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
position: fixed;
 z-index: 999;
}
.user-photo{
  width: 50px;
  height: 50px;
  border-radius: 50%; /* يجعل الصورة دائرية */
  object-fit: cover;
  border: 2px solid #2977F6; /* لون إطار متناسق مع الـ theme */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* ظل خفيف */
  transition: transform 0.3s ease-in-out; /* تأثير عند تمرير الماوس */
}

.user-photo:hover {
  transform: scale(1.1); /* تكبير بسيط عند التمرير */
}

.dm1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
  /* border-color: red; */
}

/* .dm1 img */
/* } */
header ul li {
  width: 15%;
}
header ul {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* background-color: blue; */
}
header ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:red; */
}
.log-in-links {
  width: 40%;
  height: 100%;
  display: flex;
  /* justify-content: space-aro; */
}
.profile-links a, .log-in-links a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 100%;
  margin: 0;
}
.profile-links a{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
header{
  background-color: #2977F6;
}

.m-p{
  width:100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  padding: 40px;
  /* overflow-y: auto; */
  gap:40px;
}

.userProfile {
  width: 100%;
  /* height:60%; */
  background-color: rgba(200, 200, 200, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding:10px;
}

.userProfile .dm {
  width:160px;
  height: 160px;
}
.userProfile h3 {
  font-size: x-large;
  font-weight: 400;
}

.edit-profile{
  width: 90%;
  background-color: #2977F6;
  height: 30px;
  font-size: 20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding:5px
}


.list-of-friends,.s {
  background-color: rgba(200, 200, 200, 0.2);
  max-height: 500px;
  overflow-y: auto;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

.list-of-friends h3 {
  /* background-color: red; */
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: x-large;
}

.friend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding: 10px 10px 10px 30px;
}
 .list {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  background-color: rgba(200,200,200, 0.4);

}
.friend .dm {
  width: 50px;
  height: 50px;
}
.friend h4 {
  font-size: large;
}

.profile-info {
  width: 100%;
  height: 40%;
  background-color: rgba(200, 200, 200, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
}
.profile-info h4 {
  font-size: 20px;
}
.profile-info hr {
  width:90%;
  color:#ededed;
}


.friend-info h5{
  font-size: small;
  color:rgba(200, 200, 200, 0.9)
}
.share-app{
  width: 100%;
  /* height: 10%; */
  background-color: rgba(200,200,200, 0.2);
  padding: 20px;
  font-size: x-large;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.share-btn,.btn{
  width: 90%;
  background-color: #2977F6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
}
.search-bar{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size:medium;
}
.search-bar input {
  width: 60%;
  height:100%;
  border: none;
  outline-color:#2977F6 ;
  padding:5px;
  border-radius: 5px;
  color:#0a0a0a;
  /* font-size: small; */
}
.s-btn{
  width:20%;
}
.result-of-search {
  padding:5px
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size:x-large;
}
.uB{
  background-color: gray;
}
.pp a {
  color:#2977F6;
  text-decoration: underline;
}
.pp h3 {
  font-size: 26px;
}

.chat {
  position: fixed;
  bottom: 0%;
  width:100vw;
  height: 10%;
  display: flex;
  padding:5px;
  justify-content: space-around;
  background-color: gray;
}
.chat textarea {
  width: 60%;
  height: 100%;
  border: none;
  outline-color:#2977F6 ;
  padding:5px;
  border-radius: 5px;
}
.chat .btns {
  width: 25%;
  height: 100%;
  border: none;
  outline-color:#2977F6 ;
  padding:5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:6px
}
.btns button {
  background-color: #2977F6;
  padding:3.5px;
  border-radius: 4px;
}
input{
  color:white
}
.chat-c-1,.chat-c-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.chat-c-2 {
  justify-content: end;
}
.chat-c-1 {
  justify-content: start;
}
.c-1 {
  text-align: right;
  background-color: #2977F6;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.c-2{
  text-align: left;
  background-color: gray;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
.date{
  font-size: 13px;
  color: rgba(200, 200, 200, 0.5);
}
.chat-c {
  
  padding:20px;
  padding-bottom: 40%;
  position: fixed;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  height: 80%;
  scroll-behavior: smooth;

}
.home {
  background-color:#99e4ff;
background-image:
radial-gradient(at 98% 94%, hsla(237,99%,66%,1) 0px, transparent 50%),
radial-gradient(at 37% 16%, hsla(133,80%,72%,1) 0px, transparent 50%),
radial-gradient(at 49% 87%, hsla(303,74%,74%,1) 0px, transparent 50%);
color:#0a0a0a;
height: 80%;
display: flex;
font-family:'Courier New', Courier, monospace;
font-weight: 800;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin: 20px;
padding: 20px;
border-radius: 15px;
}
.home a {
  background-color: #2977F6;
  color:#fff;
  padding:5px ;
  border-radius: 5px;
  text-decoration: none;

}
.form input{
  border-bottom: #fff 1.4px sold;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.link {
  color:blue;
  font-size: medium;
  background-color: #fff;
  text-decoration:dotted;
  display: inline;
}


.stick{
  height: 50%;
  border-radius: 7px;
  width:50%;
  width:70vw;

  background-color: #222;
  position: fixed;
  bottom: 10px;
  left:20px;
  box-shadow: 0.3px 0.5px  10px white;
  overflow-y: auto;
  display:flex;

  flex-wrap: warp;
  flex-wrap: wrap;
  gap:15px;
  padding:15px;
  bottom:20px;
  right:20px;
}
.sticker {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background:#555;
  border-radius: 5px;
  padding: 3px;
  height: 65px;
  border: #f0f0f0 solid 1.5px;
}
.sticker img{
  height:50px;
  width:50px;
}

.mm {
  max-width :70px;
  max-height: 70px;
}
.close{
  /* position: fixed; */
  display: flex;
  justify-content: center;
  font-size: 25px;
  background-color: #111;
  position: fixed;
  z-index: 2;
  right: 31%;
  /* kfgjk */
  width:40px;
  height:fit-content;
  padding:3px;
  border-radius: 1.5px;
  color:red}
.close:hover{
  color: #f0f0f0;
  background-color: #222;
}
.c-1 h4 , .c-2 h4 {
  font-size: large;
}
b {
  font-weight: 300;
}

/* blog start */

.card{
  
  outline: #fff solid 1.3px;
  border-radius: 10px;
  overflow: hidden;
}

.card-img{
  width:100%;
  height:70%;
  object-fit: cover;
  overflow-y: hidden;
  
}
.card-img img {
  width:100%;
  height:100%;
  object-fit: cover;
}

.card-info{
  padding: 5px;
}
.title{
  font-size: large;
  font-weight:500;
}
.des {
  color:#cdcdcd;
  font-weight: 400;
  font-size: medium;
}
.card-info a {
  color:#2977F6;
  font-style:italic;
  font-weight: 400;
}
.card-info a::before{
  content:"by: ";
  color:#fff;
  font-style: normal;
}
.bodyyy {
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bodyyy::before{
  content:"- ";
}

.auther{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  color:#2977F6;
  font-weight: 600;

}
/* blog end */


/* meno start */

.meno{
  display:none;
}
.mobile{
  display :none;
}

@media screen and (max-width: 700px) {
  .meno{
    display:flex;
  }
  .computer{
    display:none;
  }
  .mobile{
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    background-color: #2977F6;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    padding:7px;
  }
  .mobile li {
    width:100%;
  }
  .mobile li a {
    width:100%;
    display: flex;
    justify-content: space-around;
    border-top:1px solid white ;
    padding :5px;
  }
}

.cm{
  /* margin: 5px; */
  max-height:35vh;
  max-width: auto;
}

input , textarea{
  color:#111;
}
.img-card-post{
  max-width: 90%;
  max-height: 30vh;
  margin:0 auto
}
/*
.img-card-blog{
  max-height: 300px;
  min-height: 250px;
} */
 .img-card-blog{
  width: 100%;
 }
 .a-blog{
  color:#2977F6;
  text-decoration: underline;
 }

a, button{
  cursor: pointer;
}